@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="">Home</NavLink>
        </li>

        <!-- Admin-specific links -->
        <AuthorizeView Roles="admin">
            <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="admin/users">Manage Users</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="admin/events">Manage Events</NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

        <!-- General authenticated user links -->
        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="profile">Profile</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="events">Events</NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="login">Login</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="register">Register</NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>
